body{
	font-size: 16px;
	margin: 0;
}
#top-head{
	background-image: url("../images/bgwooden.jpg");
	height: 300px;
	width: 100%;
	text-align: center;
}
#rv-logo{
	margin-top: 100px;
    color: #9E9E9E;
    border: 2px solid;
    height: 55px;
    padding: 5px;
    display: inline-block;
    font-size: 28px;
    line-height: 55px;
}
#name{
	margin-top: 20px;
	color: #9E9E9E;
	font-size: 40px;
}
#menu{
	margin: 10px 0 15px 10px;
	display: inline-block;
    padding: 5px;
    border: 1px solid black;
}
.menu-line{
	width: 25px;
    display: block;
    margin: 5px 0;
    height: 2px;
    background: black;
}
#content{
	display: flex;
	margin: 0 10%;
}
.left-col{
    border: 1px solid black;
    display: inline-block;
    float: left;
    flex: 7;
    padding: 15px;
}
.mid-col{
	display: inline-block;
	float: left;
	flex: 1;
}
.right-col{
	display: inline-block;
	float: left;
	flex: 2;
	border: 1px solid black;
	padding: 15px;
}
.profile-img{
	text-align: center;
}
.profile-img img{
	border: 1px solid black;
    border-radius: 80px;
}